@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background: rgb(255, 217, 1);
    position: relative;
}
header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.logo{
    max-width: 90px;
}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
}
.navigation li a {
    position: relative;
    text-transform: uppercase;
    color: #1b1b1b;
    text-decoration: none;
    margin-left: 40px;
    font-size: 15px;
    font-weight: 600;
}
.content{
    position: relative;
}
.content-h1{
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 100px;
    margin-left: 30px;
    letter-spacing: .1em;
    font-family: 'Lobster', cursive;
    font-size: 70px;
    color: #303033;
}
.content-h1 .style{
    color: #f0eeee;
    font-size: 80px;
    font-weight: 800;
    font-family: 'Lobster', cursive;
}
.content2{
    display: flex;
    align-items: center;
}
p{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .1em;
    margin-top: 35px;
    margin-left: 40px;
    color: #1b1b1b;
    text-transform: uppercase;
}
#icon{
    height: 30px;
    width: 30px;
    margin-top: 35px;
    margin-left: 15px;
    cursor: pointer;
    color: #f5be0b;
}
.monkey{
    position: absolute;
    width: 38%;
    height: 500px;
    bottom: 30px;
    margin-left: 750px;
}






@media(max-width: 991px){
    .container{
        height: 150vh;
    }
    .main{
        padding: 40px;
        width: 100%;
    }
    header{
        padding: 20px 40px;
    }
    .logo{
        max-width: 70px;
    }
    .content-h1{
        font-size: 50px;
        margin-top: 30px;
    }
    .content-h1 .style{
        font-size: 60px;
    }
    .monkey{
        position: absolute;
        width: 100%;
        height: 500px;
        bottom: 60px;
        margin-left: 0px;
    }
    .navigation{
        display: none;
    }
}